{% load staticfiles %}
{% include "header.html" %}

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <h1 class="h3 mb-4 text-gray-800">Detalhes</h1>
          <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ documento.tipo_de_documento }} {{ documento.numero_do_documento }}</h6>
              </div>
              <div class="card-body">
                {% if documento %}
                  <!-- Page Heading -->
                  <label>Data Recebimento: </label> {{ documento.data_de_entrada|date:'d/m/Y' }}
                  <br/>
                  <label>Tipo: </label> {{ documento.tipo_de_documento }}
                  <br/>
                  <label>Número: </label> {{ documento.numero_do_documento }}
                  <br/>
                  <label>Expedido: </label> {{ documento.orgao_expedidor_do_documento }}
                  <br/>
                  <label>Assunto: </label> {{ documento.assunto_do_documento }}
                  <br/>
                  <label>Despacho: </label> {{ documento.despacho_do_documento }}
                  <br/>
                  <label>N° Processo: </label> {{ documento.numero_do_processo }}
                  <br/>
                  <label>Cadastrado por: </label> {{ documento.usuario }}
                  <br/>
                  <div class="row">
                    <div class="col-lg-6 mb-4">
                      <div class="row">
                      {% for prazo in documento.prazo_set.all %}
                        <div class="col-lg-6 mb-4">
                          {% if prazo.prazo_encerrado == True %}
                            <div class="card bg-success text-white shadow">
                              <div class="card-body">
                                {{ prazo.data_do_prazo|date:'d/m/Y' }}
                              <div class="text-white-50 small">{{ prazo.tipo_de_prazo }}</div>
                              <!--a id="removeStyleLink" href="{% url 'inout:alterar_status_prazo' documento.id prazo.id %}" class="bg-success card text-white shadow" />Encerrar</a-->
                              <span class="bg-success card text-white shadow centralizaTexto" />Encerrado</span>
                              </div>
                              <!--input type="submit" value="Encerrar"/--> <!-- CASO O BOTÃO DENTRO N FUNCIONE, USAR ESSE -->
                            </div>
                          {% elif prazo.prazo_encerrado == False and prazo.data_do_prazo|date:'d/m/Y' >= data_de_hoje|date:'d/m/Y' %}
                            <div class="card bg-warning text-white shadow">
                              <div class="card-body">
                                {{ prazo.data_do_prazo|date:'d/m/Y' }}
                              <div class="text-white-50 small">{{ prazo.tipo_de_prazo }}</div>
                              <a id="removeStyleLink" href="{% url 'inout:alterar_status_prazo' documento.id prazo.id %}" class="bg-warning card text-white shadow centralizaTexto" />Encerrar</a>
                              </div>
                              <!--input type="submit" value="Encerrar"/--> <!-- CASO O BOTÃO DENTRO N FUNCIONE, USAR ESSE -->
                            </div>
                          {% elif prazo.prazo_encerrado == False and prazo.data_do_prazo|date:'d/m/Y' < data_de_hoje|date:'d/m/Y' %}
                            <div class="card bg-danger text-white shadow">
                              <div class="card-body">
                                {{ prazo.data_do_prazo|date:'d/m/Y' }}
                              <div class="text-white-50 small">{{ prazo.tipo_de_prazo }}</div>
                              <a id="removeStyleLink" href="{% url 'inout:alterar_status_prazo' documento.id prazo.id %}" class="bg-danger card text-white shadow centralizaTexto" />Encerrar</a>
                              </div>
                              <!--input type="submit" value="Encerrar"/--> <!-- CASO O BOTÃO DENTRO N FUNCIONE, USAR ESSE -->
                            </div>
                          {% endif %}
                        </div>
                      {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% include "footer.html" %}