        {% extends 'base.html' %}
        {% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="display" id="tabela_datatables" >
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Órgão</th>
                      <th>Setor</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for lotacao in lotacao_list %}
                      <tr>
                        <td>{{ lotacao.fk_user.first_name }}</td>
                        <td>{{ lotacao.fk_user.email }}</a></td>
                        <td>{{ lotacao.fk_setor.fk_orgao }}</td>
                        <td>{{ lotacao.fk_setor }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Nome</th>
                      <th>Email</th>
                      <th>Órgão</th>
                      <th>Setor</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
        {% endblock %}
