        {% extends 'base.html' %}
        {% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="display" id="tabela_datatables" >
                  <thead>
                    <tr>
                      <th>Sigla</th>
                      <th>Nome</th>
                      <th>Esfera</th>
                      <th>Município</th>
                      <th>Ativo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for orgao in lista_de_orgaos %}
                      <tr>
                        <td>{{ orgao.sigla }}</td>
                        <td>{{ orgao.nome }}</td>
                        <td>{{ orgao.esfera }}</td>
                        <td>{{ orgao.municipio }}/{{ orgao.estado }}</td>
                        <td>{{ orgao.ativo }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Sigla</th>
                      <th>Nome</th>
                      <th>Esfera</th>
                      <th>Município</th>
                      <th>Ativo</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
        {% endblock %}
