        {% extends 'base.html' %}
        {% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{{ titulo }}</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Resultados</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="display" id="tabela_datatables" >
                  <thead>
                    <tr>
                      <th>Data Recebimento</th>
                      <th>Tipo</th>
                      <th>Número</th>
                      <th>Expedido</th>
                      <th>Tipo Prazo</th>
                      <th>Prazo</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for documento in lista_de_documentos %}
                      <tr>
                        <td>{{ documento.data_de_recebimento|date:'d/m/Y' }}</td>
                        <td>{{ documento.tipo_do_documento }}</a></td>
                        <td><a href="{% url 'inout:detalhesdocumento' documento.id %}">{{ documento.numero }}</a></td>
                        <td>{{ documento.emissor }}</td>
                        <td>{% for prazo in documento.prazo_set.all %}
                          <!--{% if prazo.vencimento|date:'d/m/Y' != timezone.now|date:'d/m/Y' %}-->
                            {{ prazo.tipo_do_prazo }}
                          <!--{% endif %}-->
                          <br/>
                        {% endfor %}</td>
                        <td>{% for prazo in documento.prazo_set.all %}
                          {{ prazo.vencimento|date:'d/m/Y' }}
                          <br/>
                        {% endfor %}</td>
                        <!--td><a href="{% url 'inout:editar_documento' documento.id %}">Editar</a></td-->
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Data Recebimento</th>
                      <th>Tipo</th>
                      <th>Número</th>
                      <th>Expedido</th>
                      <th>Tipo Prazo</th>
                      <th>Prazo</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
        {% endblock %}
