        {% extends 'base.html' %}
        {% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">{{ titulo }}</h1>
          <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
              <div class="col-lg-7">
                <div class="p-5">
                  <form class="user" action="{% url 'inout:salvar_orgao' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <input type="text" class="form-control form-control-user" name="nome" placeholder="Nome" required />
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" name="sigla" placeholder="Sigla" required />
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <select class="form-control form-control-user-alternative1" name="estado" required >
                            <option value="1">Acre (AC)</option>
                            <option value="2">Alagoas (AL)</option>
                            <option value="3">Amapá (AP)</option>
                            <option value="4">Amazonas (AM)</option>
                            <option value="5">Bahia (BA)</option>
                            <option value="6">Ceará (CE)</option>
                            <option value="7">Distrito Federal (DF)</option>
                            <option value="8">Espírito Santo (ES)</option>
                            <option value="9">Goiás (GO)</option>
                            <option value="10">Maranhão (MA)</option>
                            <option value="11">Mato Grosso (MT)</option>
                            <option value="12">Mato Grosso do Sul (MS)</option>
                            <option value="13">Minas Gerais (MG)</option>
                            <option value="14">Pará (PA)</option>
                            <option value="15">Paraíba (PB)</option>
                            <option value="16">Paraná (PR)</option>
                            <option value="17">Pernambuco (PE)</option>
                            <option value="18">Piauí (PI)</option>
                            <option value="19">Rio de Janeiro (RJ)</option>
                            <option value="20" selected >Rio Grande do Norte (RN)</option>
                            <option value="21">Rio Grande do Sul (RS)</option>
                            <option value="22">Rondônia (RO)</option>
                            <option value="23">Roraima (RR)</option>
                            <option value="24">Santa Catarina (SC)</option>
                            <option value="25">São Paulo (SP)</option>
                            <option value="26">Sergipe (SE)</option>
                            <option value="27">Tocantins (TO)</option>
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" name="municipio" placeholder="Municipio" required />
                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-sm-6 mb-3 mb-sm-0">
                        <select class="form-control form-control-user-alternative1" name="esfera" required >
                          <option value="1">Estadual</option>
                          <option value="2">Federal</option>
                          <option value="3" selected >Municipal</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-6">
                        <input class="btn btn-primary btn-user btn-block" type="submit" name="Cadastrar"/>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
        {% endblock %}