#removeStyleLink {
	text-decoration: none;
	color: inherit;
}

.centralizaTexto {
	text-align: center;
}

#credenciaisInvalidas {
	color: red;
	text-align: center;
	padding-bottom: 5px;
	margin-top: -1.7em;
}

.form-control-user-alternative1 {
	font-size: .8rem;
    border-radius: 10rem;
    height: 3.9em;
}

.form-control-user-alternative2 {
	font-size: .8rem;
    border-radius: 1.8rem;
    height: 3.9em;
}

embed {
	width: 100%;
	height: 1000px;
}