{% load staticfiles %}
<!DOCTYPE html>
<html lang="PT-br">
<head>
	<script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
	<script src="{% static "js/rango-jquery.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/principal.css' %}">
</head>

<body>
	<!-- A url aponta para o def na view que será responsavel por processar os dados passados via post -->
	<form action="{% url 'inout:salvarcadastro' %}" method="POST">
		{% csrf_token %}
		<!-- Os names são responsáveis por identificar cada campo, coloquei os mesmos nomes dos atributos da classe, para facilitar o entendimento -->
		<label>Data de entrada: 
			<input type="date" name="data_de_entrada">
		</label>
		<br/>
		<label>Tipo:
			<input type="text" name="tipo_de_documento">
		</label>
		<br/>
		<label>n°
			<input type="text" name="numero_do_documento">
		</label>
		<br/>
		<label>Expedido por:
			<input type="text" name="orgao_expedidor_do_documento">
		</label>
		<br/>
		<label>Assunto:
			<input type="text" name="assunto_do_documento">
		</label>
		<br/>
		<label>Despacho:
			<input type="text" name="despacho_do_documento">
		</label>
		<br/>
		<label>Processo:
			<input type="text" name="numero_do_processo">
		</label>
		<br/>
		<div class="input_fields_wrap">
			<div>
				<!----input type="text" name="mytext[]"-->
				<input type="text" name="tipo_01">
				<input type="date" name="prazo_01">
			</div>
		</div>
		<br/>
		<button class="add_field_button">Novo Prazo</button>
		<input type="submit" value="Cadastrar"/>
	</form>
	<br/>
	<a href="/inout/index.html">Início</a>
</body>
</html>